*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

img, a, div {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
}

a {
    color: $color_black;
    display: inline-block;
    text-decoration: none;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;  /* 10px/16px = 62.5% -> 1rem = 10px */
    scroll-behavior: smooth;
}

body{
    color: $color_black;
    font-family: $font-primary;
    font-weight: 400;
    line-height: 1.6;
    padding: 13rem 0;

    @media only screen and (max-width: $bp_sm) {
        padding: 9.6rem 0;
    }
}

.container{
    margin: 0 auto;
    max-width: $bp_lg;
    width: 90%;
}

.overlay{
    display: none;

    @media only screen and (max-width: $bp_sm) {
        &.active{
            background: rgba(0, 0, 0, .5);
            display: block;
            height: 100%;
            position: fixed;
            right: 0;
            top: 0;
            width: 100%;
            z-index: 10;
        }  
    }
}

.btn_primary{
    background: $color_white;
    border-radius: .8rem;
    border: none;
    color: $color_dark_grey;
    font: 500 1.5rem $font_primary;
    outline: none;
    padding: 1.6rem 2.9rem;
    text-transform: uppercase;
    transition: .1s all;

    &:hover{
        background: $color_light_peach;
        color: $color_white;
    }
}