nav{
    background: $color_white;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 25;

    .container{
        align-items: center;
        display: flex;
        height: 11rem;
        justify-content: space-between;
        position: relative;
        
        @media only screen and (max-width: $bp_sm){
            height: 9.6rem;
        }
        
        .logo{
            background: transparent url("../../images/global/logo-dark.png") no-repeat center / contain;
            height: 2.4rem;
            width: 19.6rem;
        }
    
        ul{
            display: flex;
            gap: 4.2rem;
            list-style: none;

            @media only screen and (max-width: $bp_sm){
                display: none;

                &.active{
                    background: $color_black;
                    display: flex;
                    flex-direction: column;
                    gap: 3.6rem;
                    left: 0;
                    padding: 5.1rem 2.4rem;
                    position: fixed;
                    top: 9.6rem;
                    width: 100%;

                    a{
                        color: $color_white;
                        font: 400 2.4rem/2.5rem $font_primary;
                        
                        &:hover{
                            border-bottom: .1rem solid $color_white;
                        }
                    }
                }
            }

            li{
                a{
                    color: $color_dark_grey;
                    font: 400 1.4rem/1.4rem $font_primary;
                    letter-spacing: .2rem;
                    text-transform: uppercase;
                    
                    &:hover{
                        border-bottom: .1rem solid $color_dark_grey;
                    }
                }
            }
        }

        .menu{
            display: none;
            @media only screen and (max-width: $bp_sm){
                background: transparent url("../../images/global/icon-hamburger.svg") no-repeat center / contain;
                border: none;
                cursor: pointer;
                display: block;
                height: 2rem;
                outline: none;
                width: 2.4rem;

                &.active{
                    background-image: url("../../images/global/icon-close.svg");
                }
            }
        }
    }
}

#hero .container{
    align-items: center;
    background : $color_peach url("../../images/index/bg-pattern-hero-home.svg") no-repeat right;
    border-radius : 1.5rem;
    display: flex;
    height : 64rem;
    justify-content : space-between;
    overflow : hidden;
    padding : 9rem;
    position: relative;

    @media only screen and (max-width: $bp_md){
        align-items: flex-start;
        background-position: 16rem 50%;
        height: 84.3rem;
        justify-content: center;
        padding-top: 6rem;
    }

    @media only screen and (max-width: $bp_sm){
        background-position: 0 50%;
        border-radius: 0rem;
        height: 86rem;
        padding: 8.4rem 1rem;
        width: 100%;
    }

    .hero_info{
        padding-left : .5rem;
        position: relative;
        z-index: 10;

        @media only screen and (max-width: $bp_md){
            text-align: center;
        }
        
        h1{
            color : $color_white;
            font : 500 4.8rem/4.8rem $font_primary;
            margin : 0 auto 3.1rem auto;
            max-width : 54rem;
            width: 100%;

            @media only screen and (max-width: $bp_sm){
                font: 500 3.2rem/3.6rem $font_primary;
                margin : 0 auto 2.7rem auto;
            }
        }

        p{
            color : $color_white;
            font : 400 1.6rem/2.6rem $font_primary;
            margin-bottom: 3.7rem;
            max-width : 45rem;
            width: 100%;
            
            @media only screen and (max-width: $bp_md){
                margin : 0 auto 2rem auto;
            }
            
            @media only screen and (max-width: $bp_sm){
                font: 400 1.5rem/2.5rem $font_primary
            }
        }
    }

    img{
        bottom: -24rem;
        height: 90rem;
        object-fit: contain;
        position: absolute;
        right: -13rem;
        width: 73rem;

        @media only screen and (max-width: $bp_md){
            left: 50%;
            transform: translate(-50%, 11rem);
        }
    }
}