#web_design_page{
    #hero .container{
        align-items: center;
        background: $color_peach url("../../images/web_design/bg-pattern-intro-web.svg") no-repeat right / cover;
        background-size: 80%;
        border-radius: 1.5rem;
        color: $color_white;
        display: flex;
        flex-direction: column;
        height: 25.2rem;
        justify-content: center;
        text-align: center;

        @media only screen and (max-width: $bp_md){
            background-size: 120%;
            background-position-x: -1%;
        }

        @media only screen and (max-width: $bp_sm){
            background-position-x: 98%;
            background-position-y: 110%;
            background-size: 250%;
            border-radius: 0;
            height: 32rem;
            width: 100%;
        }

        h1{
            font: 500 4.8rem/4.8rem $font_primary;
            margin-bottom: 2.5rem;

            @media only screen and (max-width: $bp_sm){
                font: 500 3.2rem/3.6rem $font_primary;
            }
        }

        p{
            font: 400 1.6rem/2.6rem $font_primary;
            max-width: 40rem;
            width: 95%;
            @media only screen and (max-width: $bp_sm){
                font: 400 1.5rem/2.5rem $font_primary;
            }
        }
    }

    #projects .container{
        column-gap: 1rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-top: 16rem;
        row-gap: 3.2em;

        @media only screen and (max-width: $bp_md){
            margin-top: 12rem;
        }

        @media only screen and (max-width: $bp_sm){
            margin-top: 9.6rem;
        }
        
        .project{
            background: #FDF3F0;
            border-radius: 1.5rem;
            cursor: pointer;
            height: 47.8rem;
            overflow: hidden;
            text-align: center;
            width: 35rem;

            &:hover{
                background: $color_peach;
                h2,
                p{
                    color: $color_white;
                }
            }

            @media only screen and (max-width: $bp_md){
                align-items: center;
                display: flex;
                height: 31rem;
                width: 100%;
            }

            @media only screen and (max-width: $bp_sm){
                display: initial;
                height: 47.8rem;
            }

            img{
                object-fit: contain;
                width: 100%;
                
                @media only screen and (max-width: $bp_md){
                    height: 100%;                  
                    width: 34rem;  
                }

                @media only screen and (max-width: $bp_sm){
                    height: 32rem;
                    object-fit: cover;
                    width: 100%;
                }
            }
            h2{
                color: $color_peach;
                font: 500 2rem/2.6rem $font_primary;
                letter-spacing: .5rem;
                margin-top: 2.7rem;
                text-transform: uppercase;

                @media only screen and (max-width: $bp_sm){
                    margin-top: 2.9rem;
                }
            }
            p{
                color: $color_dark_grey;
                font: 400 1.6rem/2.6rem $font_primary;
                margin: 1.6rem 2.5rem 0 2.5rem;
            }
        }
    }

    #services .container{
        display: flex;
        gap: 3rem;
        margin-top: 16rem;
        
        @media only screen and (max-width: $bp_md){
            flex-direction: column;
            gap: 2.4rem;
            margin-top: 12rem;
        }
    
        @media only screen and (max-width: $bp_sm){
            margin-top: 9.6rem;
        }

        > a{
            align-items: center;
            border-radius: 1.5rem;
            display: flex;
            flex-direction: column;
            flex: 1;
            gap: 2.5rem;
            height: 30.8rem;
            justify-content: center;
            overflow: hidden;
            position: relative;

            @media only screen and (max-width: $bp_md){
                flex: initial;
                height: 20rem;
            }
    
            @media only screen and (max-width: $bp_sm){
                gap: 1.3rem;
            }
    
            &::before{
                background: rgba($color_black, .6);
                content: "";
                height: 100%;
                left: 0;
                position: absolute;
                top: 0;
                width: 100%;
                z-index: 1;
            }
    
            &:hover{
                cursor: pointer;
                &::before{
                    background: rgba($color_peach, .7);
                }
            }
    
            &.app_design{
                background: url("../../images/index/app-design-desktop.jpg") no-repeat center / cover;
    
                @media only screen and (max-width: $bp_md){
                    background-image: url("../../images/index/app-design-tablet.jpg");
                }
                @media only screen and (max-width: $bp_sm){
                    background-image: url("../../images/index/app-design-mobile.jpg");
                }
            }
    
            &.graphic_design{
                background: url("../../images/index/graphic-design-desktop.jpg") no-repeat center / cover;
    
                @media only screen and (max-width: $bp_md){
                    background-image: url("../../images/index/graphic-design-tablet.jpg");
                }
                @media only screen and (max-width: $bp_sm){
                    background-image: url("../../images/index/graphic-design-mobile.jpg");
                }
            }
    
            h2{
                color: $color_white;
                font: 500 4rem/4.8rem $font_primary;
                letter-spacing: .2rem;
                text-transform: uppercase;
                z-index: 2;
    
                @media only screen and (max-width: $bp_sm){
                    font: 500 2.8rem/3.6rem $font_primary;
                    letter-spacing: .14rem;
                }
            }
    
            button{
                background: none;
                border: none;
                color: $color_white;
                font: 500 1.5rem $font_primary;
                letter-spacing: .5rem;
                outline: none;
                position: relative;
                text-transform: uppercase;
                z-index: 2;
    
                &::before{
                    background: url("../../images/global/icon-right-arrow.svg") no-repeat center / contain;
                    content: "";
                    height: 10px;
                    position: absolute;
                    right: -2.4rem;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 10px;
                }
            }
        }
    }

    footer{
        margin-top: 38rem;

        @media only screen and (max-width: $bp_md){
            margin-top: 38.5rem;
        }
        @media only screen and (max-width: $bp_sm){
            margin-top: 28.6rem;
        }
    }

    .bg_leaf_1{
        top: 29rem;
    }
}